In [47]:
import custom_utils as cu
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
sentences, speakers, edges = cu.read_data_by_ID("training", combine=False)
dialog_ids = sentences.keys()

labels = json.load(open("training_labels.json", "r"))

In [49]:
in_degrees = {}
out_degrees = {}

for id in dialog_ids:
    n_nodes = len(sentences[id])
    in_degree = [0]*n_nodes
    out_degree = [0]*n_nodes

    for edge in edges[id]:
        out_degree[edge[0]] += 1
        in_degree[edge[2]] += 1

    in_degrees[id] = in_degree
    out_degrees[id] = out_degree

In [50]:
df_list = []
for id in dialog_ids:
    df_list.append(pd.DataFrame(
        {
            "sentences" : sentences[id], 
            "in_degree" : in_degrees[id],
            "out_degree" : out_degrees[id],
            "labels" : labels[id],
        }
    ))

df = pd.concat(df_list, ignore_index=True)

df

,sentences,in_degree,out_degree,labels
0,Okay,0,1,0
1,Right,1,1,0
2,<vocalsound> Um well this is the kick-off meet...,1,1,1
3,Um <vocalsound> and um,1,1,0
4,this is just what we're gonna be doing over th...,1,1,0
...,...,...,...,...
72618,then we'll <disfmarker>,1,1,0
72619,"overall , two points .",1,2,0
72620,Yes .,1,0,0
72621,I see you later .,1,1,0
72622,Yeah .,1,0,0

In [55]:
df.groupby('out_degree')['labels'].mean()

out_degree
0    0.069429
1    0.197800
2    0.273229
3    0.341919
4    0.367521
5    0.357143
6    0.500000
Name: labels, dtype: float64

In [56]:
df.groupby('in_degree')['labels'].mean()

in_degree
0    0.041237
1    0.183217
Name: labels, dtype: float64